.container{
    position: absolute;
    left: 0.5%;
    top: 8%;
    border-radius: 5px;
    background-color: red;
    color: aliceblue;
    z-index: 2;
    height: 200px;
    width: 250px;
    cursor: pointer;
}
.list{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
